<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Assignment</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <!--Create container div-->
    <div class="container">
        <!--Angular app-->
        <div ng-app="myAdd" ng-controller="addController as add">
            <!--Button to swap display-->
            
            <div class="forForm">
                <form>
                    <div class="user-data">
                    <button ng-click="add.showUser()" id="btn1">User List</button>
                    </div>

                    <div class="user-box">
                    <label>Name:</label>
                    <br>
                    <input class="inp" type="text" name="name" placeholder="Enter Name" ng-model="add.new.name" required>
                    <br>
                    </div>

                    <div class="user-box">
                    <label>Email:</label>
                    <br>
                    <input class="inp" type="email" name="email" placeholder="Enter Email" ng-model="add.new.email" required>
                    <br>
                    </div>

                    <div class="user-box">
                    <label>Password:</label>
                    <br>
                    <input class="inp" type="password" name="password" placeholder="Enter Password" ng-model="add.new.password" required>
                    <br>
                    </div>

                    <div class="user-box">
                    <label>Phone:</label>
                    <br>
                    <input class="inp" type="tel" name="phone" placeholder="Enter Phone" ng-model="add.new.phone" required>
                    <br>
                    </div>
                    
                    <div class="submit-box">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    <input id="btn2" type="button" value="Submit" ng-click="add.addInfo()">
                </div>
                </form>
            </div>
            <div class="forUser" ng-hide="add.userShown">
                <table id="tbl">
                    <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Phone</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="info in add.infos">
                            <td>{{info.name}}</td>
                            <td>{{info.email}}</td>
                            <td>{{info.password}}</td>
                            <td>{{info.phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>